

.content {
	font-family : "museo-sans", sans-serif;
}

pre {
    border : 1px solid #ccc;
    font-size : 1em;
    border-radius : 5px;
    padding : 20px;
    margin : 45px 0 45px 0;
    width  : 93%;
    overflow : scroll;
	font-family : "museo-sans", sans-serif;
}

code {
    font-size : 1em;	
	font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}